.modal
{
    position: absolute;

    border: #CCC solid 1px;
    border-radius: 0.5rem;

    box-shadow: #AAA 0.5rem 0.5rem 0.5rem;
    background: #FFF;
    z-index: 999999;
}

.modalHeaderArea
{
    font-size: 1.25rem;
    border-bottom: #CCC solid 1px;
    padding: 0.75rem 1.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    user-select: none;
}

.modalHeader
{
    display: inline-block;
    vertical-align: middle;
    font-size: 0.8rem;
}

.modalClose
{
    display: inline-block;
    float: right;
    vertical-align: middle;
    cursor: pointer;
}

.modalBody
{
    text-align: left;
    font-size: 0.9rem;
    padding: 0.75rem 1rem;
    height: 10rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.modalFooter
{
    text-align: right;
    padding: 0.5rem 0;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top: #CCC solid 1px;
}

.btnArea
{
    margin-right: 1rem;
}

.btn
{
    font-size: 1rem;
    padding: 0.3rem 1.25rem;
    border-radius: 0.25rem;
    border-style: solid;
    color: #FFF;
    cursor: pointer;
    margin: 0 0.25rem;
}

.confirmBtn
{
    background-color: #007BFF;
    border-color: #007BFF;
}

.confirmBtn:hover
{
    background-color: #0069D9;
    border-color: #0062CC;
}

.cancelBtn
{
    background-color: #C82333;
    border-color: #BD2130;
}

.cancelBtn:hover
{
    background-color: #C82333;
    border-color: #BD2130;
}

.area, .radioArea, .formArea
{
    margin: 0.75rem 0;
    width: 18rem;
}

.label
{
    display: inline-block;
    width: 10rem;
}

.control
{
    display: block;
    text-align: center;
}

input[type=checkbox]
{
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
}

input[type=text]
{
    border: #AAA solid 1px;
    border-radius: 0.1rem;
    transition: 0.1s;
    margin-top: 0.5rem;
    text-align: center;
    width: 80%;
}

input[type=text]:hover, input[type=text]:focus
{
    border: #007BFF solid 1px;
}

input[type=text]:focus
{
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.radio
{
    display: inline-block;
    margin: 0 0.5rem;
}